@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
} 

/*HEADER STYLE*/
.header {
    height: 150px;
    color: white;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    height: 150px;
}

.nav {
    display: flex;
    font-size: 1.5em;
    justify-content: space-around;
    gap: 50px;
}


/*MAIN SECTION*/
.main {
    width: 100%;
    position: relative;
}

/*Text overlay on landing image*/
.text-overlay {
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 10px;
    font-size: 48px;
    text-align: center;
}

.landing-image {
    max-width: 100%;
    height: 1000px;
    background: url(./images/landing-image.jpg);
    background-size: cover;
    background-position: center;
   
}

/*Section below landing image*/
.landing-section {
    background: url(./images/black-background.jpg);
    margin: 0;
    border: none;
    background-size: cover;
    background-position: center;
}

.landing-section-button {
    cursor: pointer;
    border-radius: 3px;
    width: 100px;
    height: 50px;
    background: grey;
}

.anchor {
    font-size: 20px;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}


.menu-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: white;
}

.menu-dish-image {
    width: 250px;
    height: auto;
}

.menu-text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    height: 100px;
    color: white;
    gap: 5px;
}


.menu {
    background: url(./images/black-background.jpg);
    background-size: cover;
    background-position: center;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    color: white;
    margin: 0;
}

.about-page {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 500px;
    color: white;
    text-align: justify;
    text-justify: inter-word;
}

.image-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slide {
    width: 700px;
    height: auto;
    display: none;
}

.previous,
.next {
    cursor: pointer;
    background: transparent;
    color: white;
    border: none;
    font-size: 32px;
}

.previous:hover,
.next:hover {
    color: lightgray;
}
