@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
} 

/*HEADER*/
.header {
    height: 150px;
    color: white;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo {
    height: 150px;
}
.nav {
    display: flex;
    font-size: 1.5em;
    justify-content: space-around;
    gap: 50px;
}
.nav > a {
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}
.nav > a:hover {
    transform: scale(1.3);
}

/*Background on every page*/
.background,
.landing-section {
    background: url(./images/black-background.jpg);
    background-size: 100% 1000px;
    background-position: center;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*Home page*/
.landing-section {
    gap: 10px;
}
.landing-image {
    width: auto;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}
.landing-section-button {
    cursor: pointer;
    border-radius: 3px;
    width: 100px;
    border: none;
    height: 40px;
    background: #F13223;
    color: white;
}
.welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.menu-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: white;
}
.menu-text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 50px;
}

/*Footer section*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    height: 100px;
    color: white;
    gap: 5px;
}



/*Restaurant menu page*/
.menu-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    color: white;
    margin: 0;
}
.image-container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 1000px;
    height: auto;
}
.menu-image {
    width: 300px;
    height: 400px;
}
.dish-image-container {
    position: relative;
}
.dish-info-overlay {
    top: 0;
    left: 30px;
    opacity: 0;
    position: absolute;
    color: white;
    font-size: 24px;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
}
.menu-image:hover {
    opacity: 0.5;
}
.dish-image-container:hover .dish-info-overlay{
    opacity: 0.5;
}

/*Restaurant about us page*/
.about-page {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 500px;
    color: white;
    text-align: justify;
    text-justify: inter-word;
}
.image-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin-top: 20px;
}
.slide {
    width: 700px;
    height: auto;
}
.previous,
.next {
    cursor: pointer;
    background: transparent;
    color: white;
    border: none;
    font-size: 32px;
}
.previous:hover,
.next:hover {
    color: lightgray;
}

